<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarePlace"
        tools:targetApi="31" >
        <activity
            android:name=".ContactActivity_For_Doctor"
            android:exported="false" />
        <activity
            android:name=".Information_About_Doctor"
            android:exported="false" />
        <activity
            android:name=".Patient_Detail"
            android:exported="false" />
        <activity
            android:name=".Test"
            android:exported="false" />
        <activity
            android:name=".Medical_History_For_Doctor_View"
            android:exported="false" />
        <activity
            android:name=".My_Profile_Details_for_patient"
            android:exported="false" />
        <activity
            android:name=".Medical_History_For_Patient_View"
            android:exported="false" />
        <activity
            android:name=".Information_Form_patient_View"
            android:exported="false" />
        <activity
            android:name=".My_Profile_Details_for_doc"
            android:exported="false" />
        <activity
            android:name=".X_Rays_and_Medical_tests"
            android:exported="false" />
        <activity
            android:name=".Allergies"
            android:exported="false" />
        <activity
            android:name=".Medications"
            android:exported="false" />
        <activity
            android:name=".Surgeries"
            android:exported="false" />
        <activity
            android:name=".Information_Form"
            android:exported="false" />
        <activity
            android:name=".Medical_History"
            android:exported="false" />
        <activity
            android:name=".Doctor_open_Schedule"
            android:exported="false" />
        <activity
            android:name=".Patient_Information"
            android:exported="false" />
        <activity
            android:name=".Doctor_Setting_Screen"
            android:exported="false" />
        <activity
            android:name=".Patient_List"
            android:exported="false" />
        <activity
            android:name=".Doctor_Calender_Screen"
            android:exported="false" />
        <activity
            android:name=".Patient_Calender_Screen"
            android:exported="false" />
        <activity
            android:name=".Patient_Setting_Screen"
            android:exported="false" />
        <activity
            android:name=".AlarmingScreen"
            android:exported="false" />
        <activity
            android:name=".LogInScreenForDoctor"
            android:exported="false" />
        <activity
            android:name=".Doctor_Home_Screen"
            android:exported="false" />
        <activity
            android:name=".DoctorProfileRiviews"
            android:exported="false" />
        <activity
            android:name=".DoctorProfileInfo"
            android:exported="false" />
        <activity
            android:name=".DoctorProfileSchedule"
            android:exported="false" />
        <activity
            android:name=".LogandSignForDoctor"
            android:exported="false" />
        <activity
            android:name=".Medicine_List"
            android:exported="false" />
        <activity
            android:name=".Doctors_List"
            android:exported="false" />
        <activity
            android:name=".ContactActivity_For_Patient"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Choose_your_doc"
            android:exported="false" />
        <activity
            android:name=".Reset_Password"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordScreen"
            android:exported="false" />
        <activity
            android:name=".NewAccForDoc"
            android:exported="false" />
        <activity
            android:name=".Patient_Home_Screen"
            android:exported="false" />
        <activity
            android:name=".NewAccForPat"
            android:exported="false" />
        <activity
            android:name=".LogInScreenForPatient"
            android:exported="false" />
        <activity
            android:name=".LogandSignForPatient"
            android:exported="false" />
        <activity
            android:name=".DocOrPat"
            android:exported="false" />
        <activity
            android:name=".MainActivity5"
            android:exported="false" />
        <activity
            android:name=".MainActivity4"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MyBroadcastReciver"
            android:exported="true" />
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


    </application>

</manifest>